<p>Welcome to my page! The date and time is <%= Time.now %></p>

<h3>Best Dunkers of All Time!</h3>
	
    <div class="dunkers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                    <h2>Michael Jordan</h2><img alt="jordan" src=
                    "/images/jordan.jpg"></div>

                    <div class="col-md-6">
                    <h2>Vince Carter</h2><img alt="carter" src=
                    "/images/carter.jpg"></div>
                </div>
                    <div class="col-md-6">
                    <h2>Lebron James</h2><img alt="james" src=
                    "/images/lebron.jpg"></div>
                </div>
            </div>
        </div>
    </div>